*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body{
    background-color: #22252A;
    justify-content: center;
    width: 100%;
    overflow-x: hidden;
    scroll-behavior: smooth;
}
.logo, .Mobile_menu, #Mobile_Menu, ul li a{
    color: white;
}
.logo{
    font-size: clamp(0.46875rem, 0.3516rem + 0.375vw, 0.5625rem);
}
header{
    position: fixed;
    width: 100%;
    background: #0066FF;
    display: flex;
    align-items: center;
    justify-content: space-between;   
    box-shadow: 0 4px 4px -2px rgba(0,0,0,.2);
    padding: 10px 30px;
}
input[type=checkbox]{
    visibility: hidden;
}
#Mobile_Menu , #Mobile_Menu_exit{
    display: none;
    font-size: 20px;
}
nav ul{
    display: flex;
    gap: 50px;
}
nav ul li{
    list-style: none;
}
nav ul li a{
    text-decoration: none;
    font-size: clamp(0.9375rem, 0.7813rem + 0.5vw, 1.0625rem);
}
nav ul li a i{
    margin-right: 6px;
}
nav ul li a:hover{
   color: #434242;
   transition: 0.3s;
}
section{
    display: inline-block;
    width: 100%;
    height: 100vh;
}
/* topic dsign start */
.topic-section{
    background-image: url("img/layered-waves-haikei-home.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: auto;
    min-height: 100vh;
}
.topic-description{
    text-align: center;
    margin-top: 100px;
}
.topic-description H1{
    color: #0066FF;
    font-size: clamp(1.125rem, 0.5rem + 2vw, 1.625rem);
    margin: 0px 20px;
}
.topic-description p{
    color: white;
    font-size: clamp(0.875rem, 0.4063rem + 1.5vw, 1.25rem);
    text-align: center;
    margin-top: 10px;
}

.Topics-box{
    width: 1100px;
    max-width: 100%;
    margin: 0 auto;
    margin-top: 50px;
}
.row{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
.card{
    margin: 10px 10px;
    display: flex;
    flex: 1 1 20rem;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.4);
    flex-wrap: wrap;
    padding: 10px 20px 20px;
    align-self: normal;   /*to equal the size of card*/
    border-radius: 5px;
}
.card h1{
    font-size: clamp(1.125rem, 0.9453rem + 0.575vw, 1.26875rem);
    margin: 10px 0;
}
.card p{
    line-height: 1.5;
    margin-bottom: 10px;
    text-align: justify;
    font-size: clamp(0.875rem, 0.7188rem + 0.5vw, 1rem);
}
.card .btn{
    display: inline-block;
    background-color: #222222;
    color: #fff;
    text-align: center;
    font-size: clamp(0.625rem, 0.4688rem + 0.5vw, 0.75rem);
    letter-spacing: 1px;
    border-radius: 40px;
    padding: 10px 20px 11px 20px;
    text-decoration: none;
    margin-top: auto;
}
/* topic design end */

/* quiz design start */
.quiz-section{
    background-color: #0066FF;
    height: auto;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.quiz-box{
    background-color: #fff;
    color: #22252A;
    padding: 22px;
    border-radius: 5px;
    width: 60%;
}
.quiz-box span{
    color: #22252A;
    font-weight: bold;
}
.quiz-box h1{
    text-align: center;
    margin-bottom: 10px;
}
.quiz-box p{
    text-align: justify;
    line-height: 1.5;
    font-size: clamp(0.875rem, 0.7188rem + 0.5vw, 1rem);
    margin: 0px 5px;
    margin-top: 8px;
}
.quiz-box .btn{
    display: inline-block;
    background-color: #0066FF;
    color: #fff;
    text-align: center;
    font-size: clamp(0.625rem, 0.4688rem + 0.5vw, 0.75rem);
    letter-spacing: 1px;
    border-radius: 40px;
    padding: 10px 20px 11px 20px;
    text-decoration: none;
    margin-top: 18px;
    box-shadow: 0px 5px 15px 0px rgb(0, 102, 255,0.3);
}
.quiz-box .btn:hover{
    background-color: #fff;
    color: #191B1F;
    font-weight: 700;
    transition: 0.5s;
}
/* quiz design end  */

footer{
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 12px;
    font-size: clamp(0.8125rem, 0.5781rem + 0.75vw, 1rem);
    background-color: white;
    color: black;
    text-align: center;
}

@media screen and (max-width: 640px) {

        /* responsive nav bar start */
        #Mobile_Menu{
            display: block;
        }
        nav{
            width: 50vw;
            height: 100vh;
            text-align: left;
            position: absolute;
            background: #0066FF;
            top: 0px;
            right: 0;
            visibility: none;
            opacity: 0;
            transition: 0.3s ease;
            padding-bottom: 40px;
            
        }
        nav ul li a, nav #Mobile_Menu{
            color: #fff;
        }
        nav ul li a:hover{
            color: #fff;
        }
        nav ul li a i{
            margin-left: 30px;
        }
        #Mobile_Menu_exit{
            color: #fff;
            font-size: 24px;
            text-align: right;
            display: block;
            padding: 10px 30px 0px 0px;
            margin-bottom: 4px;
        }
        nav #Mobile_Menu{
            text-align: right;
            padding-right: 30px;
            padding-top: 10px;
        }
        nav ul{
            flex-direction: column;
            gap: 20px;
        }
        input:checked ~ nav{
            visibility: visible;
            opacity: 1;
        }
    
        /* responsive nav bar end */

    /* media topic start */
    .topic-section{
        background-image: none;
        background-color: #22252A;
    }
    .topic-description{
        text-align: center;
        margin-top: 80px;
    }
    .topic-description H1{
        color: #0066FF;
    }
    .topic-description p{
        color: white;
    }
    .Topics-box{
        display: flex;
        flex-direction: column;
        margin: 40px 0px;
    }
    /* media topic end  */

    /* media quiz start */
    .quiz-box{
        width: 92%;
        height: 80vh;
        padding: 10px;
        margin-top: 50px;
    }
    .quiz-box h1{
        margin-top: 20px;
    }
    .quiz-box p{
       text-align: left;
    }
    /* media quiz end */


    

}